*{
    font-family: Montserrat;
    background-color: #000;
    color: #fff;
    margin: 0;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    background-color:yellowgreen;
    width: 330px;
    border-radius: 1rem;
}
.main-content{
    background-color: #121212;
    flex: 1;
    overflow: auto;
    border-radius: 1rem;
}
.music-palyer{
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a{
    color: #fff;
    text-decoration: none;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    line-height:  2.5rem;
    opacity: 0.5;
    padding: 0.5rem 0.75rem;
}
.nav-option i{
     font-size: 1.25rem
}
.nav-option a{
      font-size: 1rem;
      margin-left: 1rem;
}
.nav-option:hover{
    opacity: 1;
}